.backgroundlogin{
    background-image: url("https://cdn.discordapp.com/attachments/605158966455959572/667098917535744031/login.png");
    height: 90%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .backgroundregister{
    background-image: url("https://cdn.discordapp.com/attachments/605158966455959572/667098913215479832/create_new_account.png");
    height: 90%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .backgroundlobby{
    background-image: url("https://cdn.discordapp.com/attachments/605158966455959572/667098916977639443/lobby.png");
    height: 60%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .backgroundfindlobby{
    background-image: url("https://cdn.discordapp.com/attachments/605158966455959572/667098915274752000/find_lobby.png");
    height: 60%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .backgroundgame{
    background-image: url("https://cdn.discordapp.com/attachments/605158966455959572/666030344130134036/start_scherm_DRUNK_SNAKE_snake.png");
    height: 90%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .backgroundgamestart{
    background-image: url("https://cdn.discordapp.com/attachments/605158966455959572/667105474176352274/start.png");
    height: 90%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .backgroundgamevictory{
    background-image: url("https://cdn.discordapp.com/attachments/605158966455959572/667109214443012107/victory1.png");
    height: 90%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .backgroundgameover{
    background-image: url("https://cdn.discordapp.com/attachments/605158966455959572/666026333721329664/game_over_the_best.png");
    height: 90%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .backgroundgame2{
    background-image: url("https://media.discordapp.net/attachments/605158966455959572/668119138257862696/WOOD_1.1.png?width=1202&height=677");
    height: 70%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }