#home {
      width: 782;
      height: 676;
      background-size: auto 500px;
      background-repeat: no-repeat;
      background-image: "img/bar.png";
      background-position: center center;
      padding: 0;
      margin: 03;
    }
    
    button {
      background-color: green;
      color: white;
      border: none;
      bottom: 0;
      height: 30px;
      font-size: 12pt;
      float: left;
      width: 90px;
      margin: 10px 0 0 0;
    }
    button:hover {
      background-color: orange;
    }

    button:disabled {
      background-color: black;
    }

    p {
      font-family: Helvetica;
      font-weight: bold;
      width: 250px;
      margin: 18px 0 5px 8px;
      float: left;
    }

    .game {
      margin: 0 auto;
    }
