#home {
      width: 650;
      height: 650;
      background-size: auto 650px;
      background-repeat: no-repeat;
      background-image: "img/bar.png";
      background-position: center center;
      padding: 0;
      margin: 03;
    }
    
    .center {
      margin: auto;
      width: 50%;
      padding: 10px;
      padding-top: 20%;
    }

    button {
      background-color: green;
      color: white;
      border: none;
      bottom: 0;
      height: 30px;
      font-size: 12pt;
      float: left;
      width: 90px;
      margin: 10px 0 0 0;
    }
    button:hover {
      background-color: orange;
    }

    button:disabled {
      background-color: black;
    }

    p {
      font-family: Helvetica;
      font-weight: bold;
      width: 250px;
      margin: 18px 0 5px 8px;
      float: left;
    }

    .game {
      margin: 0 auto;
    }

    input[type=text],[type=password], select, textarea {
      width: 30%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      color: white;
      background-color: #000000;
    }

    .lobbytable {
      font-family: Arial;
      border-collapse: collapse;
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20%;
    }
    
    .lobbytable td, #lobbytable th {
      border: 1px solid #ddd;
      padding: 5px;
      text-align: center;
    }
    
    .lobbytable tr:nth-child(even){background-color: #f2f2f2;}
       
    .lobbytable tr:hover {background-color: #ddd;}
    
    .lobbytable th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background-color: #555555;
      color: white;
    }

    .buttonnew {
      background-color: #555555;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    .buttonlogin {
      background-color: #555555;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    .buttonregister {
      background-color: #555555;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }